@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800&family=Onest:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Birthstone&display=swap');
*{
    margin: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    box-sizing: border-box;
    padding: 0px;
    text-align: justify;
}
body {
    background-image: linear-gradient(#f3dc7f,#f6965b);
}
.deptos{
    text-align: center;
}
.textdeptos {
    text-align: justify;
    font-size: 18px;
}
h1 {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: #102781;
}

h2 {
    text-align: center;
    font-size: 50px;
    color: #e31919;
    font-family: "Birthstone", cursive;
    font-weight: bold;
}

.collage {
    display: flex;
    justify-content: center;
    align-items: center;
}


h3 {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #2a4c09;
}

p {
    text-align: justify;
    font-size: 20px;
}

h4 {
    text-align: left;
    font-size:25px;
    font-weight: bold;
    color: #2a4c09;
}

.p {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}

.boton {
    background-color: #102781;
    border-bottom: white;
    border-radius: 5px;
    padding: 10px;
    color: white;
    line-height: 3;
}

